requests
tqdm
elasticsearch
jsonlines
pyyaml
# fasttext==0.9.1
fasttext
gensim
lsh-for-indexing
fastapi
uvicorn
jinja2
aiofiles
transformers[torch]
torch
torchvision
torchaudio
scipy
numpy
starlette
annoy
plyvel
pydantic